[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/rvm"]
	path = puppet/modules/rvm
	url = https://github.com/maestrodev/puppet-rvm.git
[submodule "puppet/modules/gnupg"]
	path = puppet/modules/gnupg
	url = https://github.com/n1tr0g/golja-gnupg.git
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "puppet/modules/redis"]
	path = puppet/modules/redis
	url = https://github.com/arioch/puppet-redis.git
